page-home {

}

ion-list.small-margin-bottom {
  margin-bottom: 2px !important;
}

item-task.no-padding {
  padding-left: 0px;
}

.strikethrough {
  text-decoration: line-through;
  color: darkred;
}

.textbold {
  font-weight: bold !important;
}
